%script{:src => "https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"}
%link{:href => "https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css", :rel => "stylesheet"}/
:css
  body { margin:0; padding:0; }
  #map { top:0; bottom:0; width:100%; height:400px;}
  .coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
   }



#map
%pre#coordinates.coordinates

:javascript


  function checkMapbox() {
  console.log("check");

    console.log("init mapbox 4");

    var latlng = new mapboxgl.LngLat(#{form.object.send(field.longitude_field) || field.default_longitude}, #{form.object.send(field.name) || field.default_latitude});
    console.log("LatLng "+latlng);
    mapboxgl.accessToken = "#{field.mapbox_api_key}";
    var coordinates = document.getElementById('coordinates');
    var map = new mapboxgl.Map({
      container: 'map',
      style: '#{field.mapbox_style}',
      center: latlng,
      zoom: 10
    });

     map.addControl(new mapboxgl.NavigationControl({
              showCompass: false
          }
      ), 'bottom-right');



    var marker = new mapboxgl.Marker({
      draggable: true
    }).setLngLat(latlng).addTo(map);

    function onDragEnd() {
    latlng = marker.getLngLat();
    coordinates.style.display = 'block';
    coordinates.innerHTML = 'Longitude: ' + latlng.lng + '<br />Latitude: ' + latlng.lat;
    document.getElementById("#{field.latitude_dom_name}").value = latlng.lat;//jQuery("##{field.latitude_dom_name}").val(location.lat());
    document.getElementById("#{field.longitude_dom_name}").value = latlng.lng;//jQuery("##{field.longitude_dom_name}").val(location.lng());
  }

  function onMapClick(e){
    coordinates.style.display = 'block';
    coordinates.innerHTML = 'Longitude: ' + e.lngLat.lng + '<br />Latitude: ' + e.lngLat.lat;
    document.getElementById("#{field.latitude_dom_name}").value = e.lngLat.lat;//jQuery("##{field.latitude_dom_name}").val(location.lat());
    document.getElementById("#{field.longitude_dom_name}").value = e.lngLat.lng;//jQuery("##{field.longitude_dom_name}").val(location.lng());
    marker.setLngLat(e.lngLat);
  }



    marker.on('dragend', onDragEnd);

    map.on('click', onMapClick);




  }

  setTimeout(checkMapbox, 1000);






= form.send :hidden_field, field.name, :id => field.latitude_dom_name
= form.send :hidden_field, field.longitude_field, :id => field.longitude_dom_name
